@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Pixelify+Sans:wght@400..700&display=swap');html {
    font-family: 'Comfortaa';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
* {
    cursor: default !important;
}

.pixel {
    font-family: 'Pixelify Sans';
}
.centerpage {
  border: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
body {
    font-family: 'Comfortaa';
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat; no-repeat;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin: 0;
    user-select: none;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.general {
    background: transparent
    margin: 0;
    justify-content: center;
    text-align: center;
}
.row {
  display: flex;
}

.column {
  flex: 66.66%;
  padding: 0px;
}
p.mid2 {
  overflow: hidden;
  text-align: center;
}

p.mid2::before,
p.mid2::after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.avatar-container {
    max-width: 100%;
    max-height: 100%
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 2rem;
    margin-top: 0;
}
input,
select,
textarea {
    background-color: #303030;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    height: 38px;
    padding: 6px 10px;
}
input[type="checkbox"],
input[type="radio"] {
    height: auto;
    padding: initial;
}
input,
textarea,
select,
fieldset {
    margin-bottom: 1rem;
}
label,
legend {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
form {
    margin-bottom: 0;
}
p {
    margin-top: 0;
}
a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.selected {
    color: orange;
}
a:hover {
    color: white;
}
.selected:hover {
    color: orange
}

h1 {
    padding: 20px;
    font-size: 3.8rem;
    letter-spacing: -0.1rem;
    line-height: 1.2;
    text-align: center;
}
h2 {
    font-size: 3.4rem;
    letter-spacing: -0.1rem;
    line-height: 1.25;
}
h3 {
    font-size: 2.8rem;
    letter-spacing: -0.1rem;
    line-height: 1.3;
}
h4 {
    font-size: 2.2rem;
    letter-spacing: -0.08rem;
    line-height: 1.35;
}
h5 {
    font-size: 1.7rem;
    letter-spacing: -0.05rem;
    line-height: 1.5;
}
h6 {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.6;
}